.count-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.count-container button {
    font-size: 16px;
    border-radius: 50%;
    background-color: #31ABB7;
    color: #333;
    cursor: pointer;
    margin: 1px;
}

.count-container button:nth-child(1) {
    padding-left: 7px;
    padding-right: 7px;
}

.count-container span {
    margin: 0 10px;
    font-size: 18px;
}