.formulario-compra {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
    border: 2px solid #31ABB7;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.input-compra {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #31ABB7;
    border-radius: 4px;
    font-size: 1em;
}

.boton-finalizar-compra {
    background-color: rgb(43, 214, 43);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 20px;
    width: 100%;
}

.boton-finalizar-compra:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
