.contenedor-carrito {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px #31ABB7;
}

.total-carrito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    border-top: 1px solid #31ABB7;
}

.total-carrito p {
    font-size: 1.5em;
    font-weight: bold;
    color: #31ABB7;
}

.btn-comprar-carrito {
    background-color: rgb(43, 214, 43);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-comprar-carrito:hover {
    background-color: rgb(38, 187, 38);
    transform: scale(1.05);
    transition: 0.5s;
}

.btn-borrar-carrito{
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 1.2em;
    color: red;
}

.icono-borrar-carrito{
    width: 25px;
    height: auto;
    position: relative;
    top: 4px;
}

.icono-agregar-carrito{
    width: 25px;
    height: auto;
    position: relative;
    top: 4px;
}